.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
   
}
.btn1 {
	
	color: #000;
	font-size: 14px;
}
.btn:HOVER {
	
	background: #B3B2B2;
}